* {
    padding: 0px;
    margin: 0px;
}

.canvas {
    height: auto;
    width: 320px;
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    height: 10px;
    width: 10px;
    border-style: solid;
    flex: 0 1 1;
}