.container {
    height: 100vh;

    display: grid;
    grid-template: 1fr 2fr 8fr / 0.75fr 2fr 0.75fr;
    grid-template-areas: 
                        "aside header header"
                        "aside nav nav"
                        "aside article section";
}

header {
    border: 1px solid black;
    grid-area: header;
}

nav {
    border: 1px solid black;
    grid-area: nav;
}

aside {
    border: 1px solid black;
    grid-area: aside;
}

article {
    border: 1px solid black;
    grid-area: article;

    display: flex;
    flex-direction: column;

    padding: 1rem;
}

.article-contents {
    flex: 1;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.article-item {
    border: 1px solid black;
}

section {
    border: 1px solid black;
    grid-area: section;

    display: grid;
    grid-template-rows: 1fr 5fr 1fr 5fr;

    padding: 1rem;
}

.section-item {
    border: 1px solid black;
}