@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    height: 100vh;
}

.container {
    height: 100%;
    font-family: 'Roboto', sans-serif;

    display: grid;
    grid-template: 1fr 1fr 8fr / 0.75fr 2fr 0.75fr;
    grid-template-areas: 
                        "aside header header"
                        "aside nav nav"
                        "aside article section";
}

header {
    grid-area: header;

    display: flex;
    align-items: center;

    padding: 1rem;
    gap: 1rem;
}

.header__search {
    flex: 1;

    display: flex;
    align-items: center;
}

#searchbox {
    flex: 1;
}

.small__profile__img {
    width: 36px;
}

nav {
    grid-area: nav;

    display: flex;
    align-items: center;

    padding: 1rem;
    gap: 1rem;
}

.large__profile__img {
    width: 56px;
}

.nav__welcome {
    flex: 1;
}

.nav__welcome > p {
    margin-bottom: -20px;
}

.nav__buttons {
    display: flex;
    gap: 1rem;
}

aside {
    grid-area: aside;

    padding: 1rem;
    background: #1992D4;
    color: white;
}

.aside__items {
    list-style-type: none;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    font-size: large;
}

.bi {
    margin-right: 1rem;
}

article {
    background: #E2E8F0;
    grid-area: article;

    display: flex;
    flex-direction: column;

    padding: 1rem;
}

.article-contents {
    flex: 1;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.article-item {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 30px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.article-item > p {
    flex: 1;
}

.card-title{
    margin-top: 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.2px;
}

.card-content{
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.card-btn{
    all: unset;
    display: block;
    margin-left: auto;
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 10px;
    font-weight: 600;
    transition: all 0.5s;
    cursor: pointer;
    letter-spacing: 1.2px;
}

.card-icons {
    align-self: flex-end;
}

.card-btn:hover{
   color:#1992D4;
   background: #FFF;
}

section {
    background: #E2E8F0;
    grid-area: section;

    display: flex;
    flex-direction: column;

    padding: 1rem;
}

.section-item {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 30px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    flex: 1;
}

.section-item > p {
    flex: 1;
}