.card-container {
  background-color: #DFE6EC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  max-width: 300px;
  border-radius: 0.5rem;
  place-self: center;
  overflow: hidden;
  padding: 0.5rem;
  cursor: pointer;
}

.card-container:hover {
  opacity: 80%;
}

.card-container img {
  width: 100%;
  vertical-align: middle;
}

.card-container p {
  font-size: var(--font-size--default);
  font-weight: bold;
  color: #31485A;
}

@media only screen and (max-width: 768px) {
  .card-container p {
    font-size: var(--font-size--default);
  }
}