main {
  flex: 1;
  padding: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 768px) {
  main {
    width: 100%;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}