nav {
  display: flex;
  gap: 1rem;
  font-size: var(--font-size--default);
}

.nav-btn {
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: #FCA217;
  color: #FCFCFC;
  border: none;
  outline: none;
  border-radius: 2rem;
  font-weight: bold;
  display: none;
  visibility: hidden;
  opacity: 0;
  font-size: var(--font-size--default);
}

.action-btn {
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: #FCA217;
  color: #FCFCFC;
  border: none;
  outline: none;
  border-radius: 2rem;
  font-weight: bold;
  font-size: var(--font-size--default);
}

.newgame-btn {
  background-color: #DFE6EC;
  color: #31485A;
}

.menu-note {
  color: #DFE6EC;
  font-style: italic;
  font-size: var(--font-size--small);
  width: 90%;
  margin-top: 1rem;
  display: none;
}

@media only screen and (max-width: 1024px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #31485A;
    transition: 0.75s;
    transform: translateY(-100vh);
  }

  .responsive-nav {
    transform: none;
  }

  .nav-btn {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 1rem;
  }

  .action-btn {
    width: 90%;
  }

  .menu-note {
    display: block;
  }
}