.App {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .App {
    width: 100%;
  }
}