body {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 0.15rem;
  background: #EFEFEF;
  font-size: 80%;
  height: 100vh;
}

#content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  height: 425px;
  max-width: 940px;
  min-width: 720px;
  margin: 10px auto 10px auto;
  padding: 20px;
  border: 4px double #000000;
  background: #FFFFFF;
}

.logo {
  width: 150px;
  margin: 10px auto 25px auto;
}

.navigation {
  width: 570px;
  padding: 15px;
  margin: 0px auto 0px auto;
  border-top: 2px solid #000000;
  border-bottom: 1px solid #000000;
  text-align: center;
  list-style-type: disc;

  li {
    display: inline;
    margin: 0px 3px;

    a {
      color: #000000;
      text-transform: uppercase;
      text-decoration: none;
      padding: 6px 18px 5px 18px;
    }

    a:hover {
      color: #CC3333;
      background: #FFFFFF;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 600px;
  height: 500px;
  margin-top: 1rem;
}