:root {
    --primary: #2EC4B6;
    --dark: #011627;
    --light: #EEEEEE;
    --danger: #E71D36;
    --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]), button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}

body {
    background: var(--light);
    color: var(--dark);
}

section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

h3 {
    color: var(--dark);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

h4 {
    color: var(--dark);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.create-todo {
    input[type="text"] {
        display: block;
        width: 100%;
        font-size: 1.125rem;
        padding: 1rem 1.5rem;
        color: var(--dark);
        background-color: #fff;
        border-radius: 0.5rem;
        box-shadow: var(--shadow);
        margin-bottom: 0.75rem;
    }

    input[type="submit"] {
        display: block;
        width: 100%;
        font-size: 1.125rem;
        padding: 1rem 1.5rem;
        color: #fff;
        background-color: var(--primary);
        border-radius: 0.5rem;
        box-shadow: var(--shadow);
        cursor: pointer;
        transition: 0.2 ease-in-out;
    }

    input[type="submit"]:hover {
        opacity: 0.75;
    }
}


.todo-list {
    .list {
        margin: 1rem 0;

        .todo-item {
            display: flex;
            align-items: center;
            background-color: #fff;
            padding: 1rem;
            border-bottom: 1px solid #d3d3d3;
            box-shadow: var(--shadow);

            label {
                display: block;
                margin-right: 1rem;
                cursor: pointer;
            }

            .todo-content {
                flex: 1 1 0%;
                
                input {
                    color: var(--dark);
                    font-size: 1.125rem;
                }
            }

            .actions {
                display: flex;
                align-items: center;

                button {
                    display: block;
                    padding: 0.5rem;
                    border-radius: 0.25rem;
                    color: #fff;
                    cursor: pointer;
                    transition: 0.2s ease-in-out;
                }

                button:hover {
                    opacity: 0.75;
                }

                .edit {
                    margin-right: 0.5rem;
                    background-color: var(--primary);
                }

                .delete {
                    background-color: var(--danger);
                }
            }
        }
    }

    input[type="radio"],
    input[type="checkbox"] {
        display: none;
    }

    .bubble {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid var(--dark);
    }

    .bubble::after {
        content: "";
        display: block;
        opacity: 0;
        width: 0;
        height: 0;
        background-color: var(--primary);
        border-radius: 50%;
        transition: 0.2 ease-in-out;
    }

    input:checked ~ .bubble::after {
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

.done {
    .todo-content {
        input {
            text-decoration: line-through;
            color: var(--grey);
        }
    } 
}