@import url('https://fonts.cdnfonts.com/css/norse');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  margin: 0;
  padding: 0;
}

.container { 
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.left-section {
  color: #fff;
  flex: 2;
  display: flex;
  flex-direction: column;
  background-size: 100%;
  background-image: url('https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
}

.left-section-header {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header-container {
  background-color: rgba(0,0,0,.5);
  position: relative;
  top: 25%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title{
  font-size: 80px;
  font-family: 'Norse';
  margin: 0;
}

.logo {
  height: 125px;
}

.left-section-footer {
  font-size: 14px;
  text-align: center;
}

.right-section {
  background: #f2f3f4;
  flex: 3;
  display: flex;
  flex-direction: column;
}

.right-section-item-1 {
  padding: 20px;
  flex: 1;
  display: flex;
}

.right-section-item-1 > h2 {
  align-self: flex-end;
  font-weight: 500;
}

.right-section-item-2 {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.item-2-top {
  background: white;
  padding: 20px;
  flex: 1;
}

.name, .contact, .password {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

label {
  font-size: 14px;
  margin-bottom: 2.5px;
  display: block;
}

input {
  width: min(400px, 80%);
  height: 30px;
  margin-bottom: 25px;
  border-radius: 4px;
  border: 1px solid gray;
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px #596D48;
}

.item-2-bottom {
  padding: 20px;
  flex: 1;
}

button {
  font-weight: 700;
  color: #fff;
  padding: 10px 30px 10px 30px;
  border: none;
  border-radius: 8px;
  background: #596D48;
}

h3 {
  font-size: 16px;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .name, .contact, .password {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 422px) {
  .header-container {
    top: 0%;
  }

  .name, .contact, .password {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}